/* form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
  } */

  form {
    background-color: rgba(0, 0, 0, 0.7); /* use rgba() to set opacity */
    padding: 20px;
    border-radius: 10px;
    color: #fff;    
    /* position: relative;
    top: 35%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    width:40vw;
    height:35vh;
    margin: auto;
    /* width: 400px;
    margin: 0 auto; */
  }

  /* #response-container {
    top: 70%;
    left: 50%;
    position: absolute;
    padding: 100%;
    font-family: 'Courier New', Courier, monospace;
   } */

  .background {
    background-image: url('Team.jpg');
    background-size: cover;
    background-position: center;  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
  }

  /* label {
    display: block;
    margin-bottom: 10px;
  } */

  /* input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
  } */

  input[type="text"],
  select {
    width: 100%;      
    padding: 8px 0;  
    margin: 5px auto;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2); /* use rgba() to set opacity */
    color: #fff;
}

select {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    /* border: 1px solid #ccc; */
    padding: 8px 0;  
    margin: 5px auto; 
    line-height: 22px;
  }

  select:focus {
    background-color: #555;
  } 

  input:focus {
    background-color: #555;
  }
  
  option {
    border-bottom: 10px solid #ccc;
    padding: 100px 0;
  }

  select option {
    margin: 5px 0;
  }  
        
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;    
    background-color: #C91B26;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
  
  button[type="submit"]:hover {
    box-shadow: 0px 4px 4px rgba(120, 116, 116, 0.5);    
    background-color: #930710;
    color: #cfcccc;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }  

  /* body {
    text-align: center;
  } */

  form, select {
    font-family: 'Bangers', cursive;
  }

  h1 {
    width: 100%;
    margin-top: 50px;
    font-size: 48px;
    font-family: 'Bangers', cursive;
    text-align: center;
    color: white;
  }

/* 
  #submit-btn {   
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  
  #submit-btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background-color: rgba(241, 66, 66, 0.5);
    opacity: 0;
    border-radius: 100%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s, opacity 0.5s;
  }
  
  #submit-btn:focus:not(:active):after,
  #submit-btn:active:after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(100);
    transition: transform 0.2s, opacity 0.2s;
  }
   */
  
  /* input[type="submit"] {
    background-color: #C91B26;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  } */
  
  /* #response-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    display: none;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  } */

  /* #response-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Bangers', sans-serif;
    position: fixed;
    left: 50%;
    bottom: -300px;
    transform: translateX(-50%);
    width: 640px;
    margin: 0 auto;
    display: none;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  } */
  
  /* .slide-up {
    animation-name: slideUp;
  } */
  
  /* @keyframes slideUp {
    0% {
      bottom: -300px;
      transform: translateX(-50%);
    }
    100% {
      bottom: 0;
      transform: translateX(-50%);
    }
  } */
  


   #response-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Bangers', sans-serif;
    position: relative;
    /* top: 65%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 40vw;
    margin-right: auto;
    margin-left: auto;
    display: none;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    margin-top: 30px;
  }

  .slide-up {
    animation-name: slideUp;
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(100%);
      display: block;
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  } 
  
  .container {    /* this is being activated, make sure to change the '.' to '#' when it's ready to be used */
    position: relative;
    width: 400px; /* change this to the desired width */
    margin: 0 auto;
  }
 
 
  
  
  